html body .container *,html body .container a:focus{ outline: none;}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {border: none;}
body, p, select, textarea, input, button {color:#939393;font-size:12px; font-family: 'Open Sans', Arial,Helvetica,sans-serif; font-weight: normal;line-height:1.25em;}

/*
	Open Sans (google fonts)
	font-family: 'Open Sans', sans-serif;
	semi-bold -> font-weight:600;
	bold (700) -> font-weight:bold;
	extra bold (800) -> font-weight:800;
*/

/***** Img replacement *****/
.rpl {margin:0;height:1%;font-size:1em;}
button.rpl{border:none;background:transparent;}
.rpl , .rpl a,.rpl span {display:block;overflow:hidden;text-indent:-1000em;}

[class*="span"] {
	float: left;
	margin-left: 0px;
}
.span2 {width: 366px;}

a { color:#ff0000; font-family: 'Open Sans' }

.btn {
	border: none;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	line-height: 22px;
	font-style: normal;
	text-transform: none;
	text-shadow: none;

}
.btn-primary{
	background-image: none;
	filter: none;
	background-color: #E50000;
	opacity: 1;
}

.btn-primary:hover,
#box-book .btn-primary:hover,
.btn-primary:active,
#box-book .btn-primary:active,
.btn-primary.active,
#box-book .btn-primary.active{
	background: #e50000;
	 text-shadow: none;
}
.btn-success {
	background-image: none;
	filter: none;
	text-shadow: none;
	background-color: #a8c622;
	opacity: 1;
}

.btn-success:hover,
.btn-success:active,
.btn-success.active{
	background: #8ea71d;
	text-shadow: none;
}
.container, 
.navbar-fixed-top .container, 
.navbar-fixed-bottom .container { 
	width: 960px; 
	position: relative;
}

/*CONTENT BACKGROUNDS*/
.list #contentzone {}
.single #contentzone {}
.list-news #contentzone {background: none;}
.detail-page #contentzone{}

.single #content{ background: #000;}

/*TEMPLATES WITH RIGHT SIDEBAR*/
.sidebar-right #content {
	width: 580px; 
	padding-right: 20px; 
	float: left;
}
#sidebar-right {
	width: 260px; 
	margin: 0;
	position: relative;
	float: right;
	right: 40px;
	z-index: 10;
}
.sidebar-right .box_title {font-size:16px;}
	
.select-group .btn,
.btn-group .dropdown-toggle,
.navbar-inner,
.cust-dropdown .btn,
.breadcrumb,
.dropdown-menu ,
.alert {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	}
.btn-xlarge {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    padding: 40px 10px;
}

.a-c,table .a-c{text-align:center;}
.a-r,table .a-r{text-align:right;}
.a-l,table .a-l{text-align:left;}
h1,h2,h3,h4,h5{color:#4c4c52;font-weight:700}
.ttre small{font-size:10px;font-weight:600;vertical-align:middle;}
.inline-list li{float:left;;display:block;margin:0;padding: 0 10pxpadding: 0 10px; }
ul.inline-list{margin:0;padding:0;list-style:none;display:inline-block;}
ul.inline-list.stick-left li:first-child  {padding-left:0;}
ul.inline-list.stick-right li:last-child  {padding-right:0;}
ul.inline-list.border li{border-right:1px solid #ccc;}
ul.inline-list.border > li:last-child  {border-right:none}

/*HEADER*/
#header{
	color:#939393; 
}
#header .container{
	background:#000; 
	min-height:60px; 
	position:relative;
	padding: 20px 0;
}
#header a{ 
	 
	font-weight: 700;
}
#logo-box{
	min-width: 175px; 
	min-height: 60px; 
	line-height : 60px;
	position:absolute;
	top:20px;
	left:20px;
	font-size:28px;
}
#logo-box img {
	vertical-align:middle;
}
#logo-box a{
	color: #fff;
}
#logo-box a:hover{
	text-decoration:none;
}
.navbar-inner{
	position: relative;
	width: 960px;
	margin:0 auto; 
}
#header .colwrapper{
	display:table;
	border-collapse: collapse; 
	width: 77%;
}
#contact-box,
#header #welcome-box,
#share-box{
	padding: 0 20px 0; 
	display:table-cell;
}
#contact-box{
	border-left: 0;
}
#contact-box{ 
	text-align: right;
}
#contact-box p.desc,
#contact-box .ttre{
	font-size: 11px; 
	color: #fff;
	display: inline; 
	margin: 0; 
	padding: 0; 
	line-height: 1em;
	font-weight: 600; 
	font-style: italic;
}
#contact-box p.desc,
#welcome-box p.desc{ 
	font-size: 11px;
}
#welcome-box {position: relative;}
#header #welcome-box {width:340px;}
#welcome-box .ttre, 
#share-box .ttre {
	font-size:12px;  
	color: #fff; 
	text-transform: uppercase; 
	font-weight: 800; 
	margin-bottom: 0px; 
	line-height: 0.8em; 
	margin-bottom: 0.8em;
}
#share-box .ttre{display: none;}
#welcome-box .readmore {margin-bottom:0;}
#share-box {padding-right: 20px; width: 70px;}
.social_pages a, #share-box a {display:inline-block; width: 30px; height: 30px;}
.social_pages a span, #share-box a span {text-indent: -9999em; width: 0!important; height: 0!important; display: block; background: none;}
.social_pages .addthis_button_facebook_follow , #share-box .addthis_button_facebook_follow {background: url(../img/icon-facebook.png) no-repeat;}
.social_pages .addthis_button_twitter_follow , #share-box .addthis_button_twitter_follow {background: url(../img/icon-twitter.png) no-repeat;}

/*CORNERS/FOLD*/
.navbar-inner:before,
.navbar-inner:after,
#content:before,
#content:after{
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-width: 5px;
	border-style: solid;
}
.navbar-inner:before{
	left: -10px;
	bottom: 0;
	border-color: transparent #00cfd4 #00cfd4 transparent;
}
.navbar-inner:after{
	right: -10px;
	bottom: 0;
	border-color: transparent transparent #00cfd4 #00cfd4 ;
}
#content:before{
	left: -10px;
	top: 0;
	border-color: #00cfd4 #00cfd4 transparent transparent ;
}
#content:after{
	right: -10px;
	top: 0;
	border-color: #00cfd4 transparent transparent #00cfd4 ;
}

/*NAVIGATION*/
#main-nav{margin-bottom: 0px;}
.navbar-inner{padding-left: 0; padding-right: 0; background: #fff; filter: none; border: none; box-shadow: none;}
.navbar-inner .container{}
.navbar .icon span{display:none;}
.navbar li.icon i{vertical-align:top;height:19px}
.navbar .container {background: #000; width: 960px;}
.navbar .nav {margin-left: 20px; float: left; }
.navbar .nav > li { line-weight:20px;font-size:13px;}
.navbar .nav > li > a {color:#939393; font-weight: 600; padding: 10px 20px 11px}
.navbar .nav > li > a:hover,.navbar .nav .active > a,  .navbar .nav .active > a:hover,.navbar .nav .active > .dropdown-toggle:hover, .navbar .nav .active > .dropdown-toggle {background-color: #115388; color: #fff;}
.navbar .nav .open > .dropdown-toggle, .navbar .nav .active > .dropdown-toggle, .navbar .nav .open.active > .dropdown-toggle  {background-color: #00B6D9; color:#fff;}
.navbar .dropdown-menu:after ,.navbar .dropdown-menu:before { display: none;  border: none;}
.navbar .dropdown-menu {margin-top: 0px; border: none; background: #00B6D9; webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
.navbar .dropdown-menu a { color:#fff;font-size:14px;padding: 10px }
.navbar .dropdown-menu a:hover {background:#1B6596;}



/*TEASER ZONE*/
#teaser_zone .container{width: 980px;}
#teaser_zone { position: relative; z-index: 0;}
#teaser_zone #search-form,
#teaser_zone .welcome-box {
	width:290px; 
	float:left; 
	height:340px;
}
#teaser_zone #sub_teaser {background:#757b96;border-top: solid 1px white;}
#teaser_zone #box-book {padding: 0; position: relative;  margin: 0 auto;width:960px;text-align: right;}
#teaser_zone #box-book .ttre {display:block;line-height: 49px;  font-style: italic; font-weight: normal; font-size: 18px; text-transform: uppercase; color: white;padding: 0 250px 0 0; }
#teaser_zone #box-book ul {position: absolute; right: 0; top: 0px;}
#teaser_zone #box-book ul li:first-child {margin-right: 1px;}

/*WELCOME BOX*/
#teaser_zone .welcome-box{
	background: #115388;

}
#teaser_zone .welcome-box .ttre{
	margin-bottom: 1em; 
	line-height: 33px; 
	font-size: 30px;
	font-family: 'Open Sans'; 
	font-weight:800;
	text-transform:uppercase;
	color: #fff; 
}
#teaser_zone .welcome-box .desc{
	color: #fff;
	font-size: 16px;
	margin-bottom: 1em;
}

/* SEARCH FORM*/
#search-form,
.welcome-box{
	padding: 40px 40px 40px 50px;
}
#search-form {background: #115388 url(../img/world-map.png) no-repeat center center;}
#search-form .ttre,
#search-form .box_title{
	margin-bottom: 47px; 
	line-height: 20px; 
	font-size: 18px;
	font-family: 'Open Sans'; 
	font-weight:700;
	text-transform:uppercase;
	color: #fff; 
	
}
#sidebar-right #search-form .box_title{
	background: transparent;
}
#search-form form {margin: 0;}
#search-form .btn {text-align: left;}
#search-form .form-actions .btn-primary {padding: 5px 10px;font-size:13px;}
#search-form .readmore {float: left; margin-top: 12px; color: #fff;}
#search-form .form-actions{float: right;}
#search-form .readmore a,
#search-form .readmore a:hover {color: #fff;}
#search-form input[type="radio"] {margin-right: 10px;}
#sidebar-right #search-form{
	padding: 20px;
}
#sidebar-right #search-form input[type="radio"] {margin-top:0;}
#search-form .select-group .caret {
	border:none;
    display: inline-block;
    height: 14px;
    width: 22px;
    opacity: 1;
    background: url("../img/sprite.png") no-repeat scroll -7px -93px transparent;
    margin-top: 5px;
}
#search-form .dropdown-menu{min-width: 100%; margin: 0; padding: 0; border: 0 none; border-radius: 0; margin-left: 0px;}
#search-form .btn-group .dropdown-toggle{padding-left: 10px;}
#search-form .btn-group .btn{margin: 0;}
#search-form label {color: #fff;}

/*CAROUSEL*/
#carousel-home {height: 420px; width: 600px; float:right; background:#009bb8; }
#carousel-home .sliderkit-panel{height: 420px; width: 100%;}
#carousel-home .sliderkit-panel img {margin-left: 0; display:block; }
.slider-caption {position: absolute; bottom: 0; left: 0; padding: 40px;  height: 80px; background:none repeat scroll 0 0 #009dbb; color:#fff; }
.slider-caption p.desc {color: #fff; font-weight: normal;background: #009dbb; font-size: 13px; line-height: 18px; }
.sliderkit-panel p.price {position:absolute;  color:#fff; text-transform: uppercase; width:120px; height:100px;padding: 0px; right: 0; top: 100px; font-size: 20px; line-height: 20px; text-align: center;  z-index:20;background: #00cfd4; font-weight: 800; }
.sliderkit-panel p.price small {color:#fff; font-size: 11px; font-weight: bold; line-height: 17px; margin-top:25px;display:block;}
.sliderkit-panel .cat {position:absolute; right: 0; top: 0; font-family: 'Open Sans';font-size: 18px; font-weight: normal; color: #fff;margin-bottom:0;text-transform: uppercase; height: 100px; text-align: center;  width: 120px; background: #007da1; padding: 0; }
.sliderkit-panel .cat i {margin: 20px 0 8px 0;}
.sliderkit-panel .cat .icon-heart{ background-position: -3px -53px; height: 30px; width: 33px; }
.sliderkit-panel .cat span {color: #fff; color:#fff;display: block; font-size: 11px; font-weight: bold; }
.slider-caption .ttre { font-weight: 800; font-size:20px; line-height:24px; margin:0 0 10px 0; padding:0px 30px 0px 0px; color:#fff; display:block;}
.slider-caption .ttre a{color:#fff;}
.slider-caption .btn { margin: 5px 0 0 0; font-size:14px; display: none; }
#carousel-home .sliderkit-nav{position:absolute; top:200px; right:0; text-align:center; background: #ff0000; width: 120px; height: 60px;}
#carousel-home .sliderkit-nav ul li a,#carousel-home .sliderkit-go-btn a {width:13px;height:13px;line-height:13px;display:block;font-weight:800;;}
#carousel-home .sliderkit-nav ul li a {font-size: 18px;}
#carousel-home .sliderkit-nav ul li.sliderkit-selected a {color:#fff;}
#carousel-home .sliderkit-nav-clip,#carousel-home .sliderkit-go-btn {float:left;padding: 0; margin: 0; width: 50%; }
#carousel-home .sliderkit-nav-clip a {color: #5eb0d1; font-size: 18px; padding-top: 2px;}
#carousel-home .sliderkit-go-btn {}
#carousel-home .sliderkit-go-btn a{display: block; width: 60px; height: 60px; float: left; font-size: 30px; line-height: 56px; color: #fff; text-indent: -2000em; background: url("../img/sprite.png") no-repeat transparent;}
#carousel-home .sliderkit-go-prev a { background-position: -58px -72px;}
#carousel-home .sliderkit-go-next a { background-position: -119px -72px;}
#carousel-home .sliderkit-go-btn.sliderkit-btn-disable{opacity:0;filter: alpha(opacity=0);cursor:default;}

.sliderkit-nav .sliderkit-nav-clip{display: none;}

/*BREADCRUMBS*/
#breadcrumb {
}
#breadcrumb .container{
	width: 980px;
	background: #125389;
	overflow: hidden;
	display: block;
}
.breadcrumb {
	border:none;
	margin:0; 
	padding:0 0 0 50px;
	line-height:40px;
	-webkit-box-shadow:none; 
	-moz-box-shadow: none; 
	box-shadow: none;
	background: #125389;
	display: inline;
}

.breadcrumb li {
	color: #00cfd4; 
	font-family: 'Open Sans'; 
	font-size: 12px;
	text-shadow: none; 
}
.breadcrumb li a {
	color: #FFF;
}
.breadcrumb .divider {
	color: #FFF;
}
.breadcrumb h1 {
	font-size: 12px; 
	color: #939393; 
	font-family: 'Open Sans'; 
	font-weight: normal;
}

/*. intro */
.intro.large{font-size:14px;font-weight:700;color:#8c8c8c;margin-bottom:20px;}

/*. Thumbs */
.thumbnail{
	position:relative;
	-webkit-border-radius: 0!important;
	-moz-border-radius: 0!important;
	border-radius: 0 !important;
	border:none;
	-webkit-box-shadow:none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding:0px;
	margin:0px;
	background:#fff;
}
.thumbnail > img.pull-left {margin-right:10px;}
.thumbnail > img.pull-right {margin-left:0px}
.thumbnail .caption {padding:0; margin: 0; position:relative; z-index:1; height: 90px; display: block;}
.thumbnail .value{color:#4c4c52;font-weight:600;}
.thumbnail p.date {margin: 0 0 1px 0;;}
.thumbnail p.date_from {display:inline-block;font-size:13px;position:relative;font-family: 'Open Sans';color: #545454;text-transform: uppercase;padding: 0 0 0 0; margin: 0 0 3px 0;font-weight:bold;}
.thumbnail p.date_from {}
.thumbnail .ttre {color:#009cbb; font-size:12px; padding: 10px 0 0px 0px ; margin:0px ; line-height:125%; font-weight:700; text-transform:uppercase;}
.thumbnail .ttre a {color:#009cbb;}
.thumbnail .inline-list {font-size:11px;margin-bottom:0;line-height:14px;}
.thumbnail .desc{ font-size: 11px; color: #949494;}

.arrow{ width: 0; height: 0; position:absolute;z-index:20;top:47%;;}
.arrow.right ,.arrow.left {border-top: 5px solid transparent; border-bottom: 5px solid transparent; }
.arrow.up ,.arrow.down {border-left: 5px solid transparent;border-right: 5px solid transparent;  }
.arrow.right { border-left: 5px solid #fff;right:155px; }
.arrow.left { border-right: 5px solid #fff;left:155px; }
.arrow.up {	 border-bottom: 5px solid #fff;}
.arrow.down {border-top: 5px solid #000;}

/*. Icons */
[class^="icon-"],
[class*=" icon-"]{background:transparent url(../img/sprite.png) 0 0px;display:inline-block;width: 16px;height:16px;line-height:16px;vertical-align: middle;}
i.large{height:26px;width:26px;line-height:26px}
.thumbnails .icon-heart{ background-position: -16px  -27px; }
.icon-heart-b{ background-position: -16px  -27px;}
.icon-promo{ background-position:-48px -27px;}
.icon-promo-b{ background-position:-32px -27px;}
.icon-news{ background-position:-26px -0;}
.icon-searchform{ background-position:-88px -0;}
.icon-home{ background-position:-72px 3px;}
.icon-print{ background-position:-144px 0px;}
.active .icon-home, a:hover .icon-home{ background-position:-56px 3px;}

/*CONTENTZONE*/
#contentzone { }
#contentzone .container{background: #f3f3f3;position: relative; }
#contentzone #content {position: relative;padding:40px;}
.page_ttre , 
.sub_ttre{ 
	font-size: 18px; 
	line-height: 16px;
	margin:0px; 
	padding: 0px;
	color: #fff;  
	text-transform: uppercase;
}
.box_title { margin-bottom: 20px; line-height: 20px; font-size: 20px; font-weight: 700; color: #125389; text-transform: uppercase; text-shadow: none;}
#box-search { height: 400px; width: 454px; margin-bottom: 20px; float:left;}
#box-featured {width: 366px; float: right; background:#000; margin-left: -40px; margin-top: -40px; margin-right: -40px; padding: 40px; }
#box-featured .box_title{color: #fff;}
#box-featured .thumbnail p.price,
#box-featured .thumbnail .cat, 
.liste_produits .thumbnail  p.price, 
.liste_produits .thumbnail  .cat, 
.search_results .thumbnail  p.price, 
.search_results .thumbnail  .cat  {
	padding: 0 0 0 10px;
	margin: 0;
	position: absolute;
	bottom: 0;
	color:#fff;
	line-height: 20px;
	height: 20px; 
	width: 113px;
}
#box-featured .thumbnail p.price, 
.search_results .thumbnail p.price  {
	right: 0; 
	background-color:#00cfd4;
	color:#fff;
}
#box-featured .thumbnail .cat, 
.search_results .thumbnail .cat { 
	left: 120px;
	background-color: #007da0;
}
.liste_produits .thumbnail .cat,
.search_results .thumbnail .cat{ 
	left: 120px;
	top: 0;
	background-color: #007da0;
}
.liste_produits .thumbnail  p.price,
.search_results .thumbnail  p.price{
	left: 120px; 
	bottom: 0px;
	background-color:#00cfd4;
	color:#fff;
}
.liste_produits .thumbnail,
.search_results .thumbnail{
	background: #1E1E1E;
}

.liste_produits .ttre,
.liste_produits .desc,
.search_results .ttre,
.search_results .desc{
	padding-left: 260px;
	padding-right: 10px;
}

#box-featured .thumbnail .cat span, 
.liste_produits .thumbnail .cat span,
.search_results .thumbnail .cat span {
	color:#fff;
}
#box-featured .thumbnail .arrow.left, 
.liste_produits .thumbnail .arrow.left,
.search_results .thumbnail .arrow.left {
	top:18px;
	left:115px;
	border-right-color:#000;
	display: none;
}
#box-news .thumbnail{
	background: transparent;
}
#box-news {
	width: 394px;
}
#box-news .cat{
	display: inline-block;
	font-size:13px;
	color: #545454;
	text-transform: uppercase;
	padding: 0;
	font-weight:bold;
}
#box-news p.cat,
#box-news p.date_from{
	margin-bottom: 0px;
}

/*COMPANY LOGOS*/
#company-logos {background: url("../img/shade_carousel.png") no-repeat scroll center top transparent;}
#company-logos .container ul {position: relative; float: right; left: -50%; list-style: none; display: block; padding: 20px 0 10px 0;}
#company-logos .container ul li {display: block; float: left; margin-left: 35px; position: relative; left: 50%;}
#company-logos .container ul li:first-child {margin-left: 0;}

/*SIDEBAR RIGHT*/
#sidebar-right .box_title {
	border:none; 
	margin-bottom: 0; 
	background: #000; 
	color: #fff;
	padding: 10px;
}
#sidebar-right .input-medium {
    width: 160px;
}
#sidebar-right #box-news {
	padding: 20px;
	width: 220px; 
	background: #ebebeb;
}
#sidebar-right #box-featured{
	width: 100%; 
	padding: 0px; 
	margin: 0; 
	background: #ebebeb;
}
#sidebar-right .thumbnails{
	margin: 0;
}
#sidebar-right .thumbnails >li{
	margin:0;
}
#sidebar-right .thumbnail > img.pull-left {
    margin-right: 0;
}
#sidebar-right #box-featured p.price,
#sidebar-right #box-featured .cat{
		position: relative;
		margin: 0;
		padding: 0;
		display: block;
		left: 0;
		float: left;
		width: 130px;
		height: 25px;
		padding: 10px 0 10px 10px;
}
#sidebar-right .thumbnail .caption{
	height: auto;
	clear: both;
	background: #1e1e1e;
	padding: 0 10px 10px 10px;
	overflow: hidden;
}
#sidebar-right #box-featured p.desc{
	margin-bottom: 0;
	
}

/*BOOK BOX*/
#box-book {
	margin: 0; 
	padding: 0; 
	clear: both;
}
#box-book a i {background: url(../img/icon-airplane.png) no-repeat; display: inline-block; width: 32px; height: 23px;float:right; }
#box-book .icon-1way {background-position: right top; width: 20px;}
#box-book .icon-2ways {background-position: left top;}
#box-book ul {list-style: none; margin: 0; padding: 0; }
#box-book ul li {display: block; float: left; width: 100%;}
#box-book ul li a {padding: 12px 20px;font-size:24px;font-style:italic;font-weight:normal;display:block;text-align:left;}

/*FORM*/
.table-error { background-color: #b94a48;}
.alert-heading{margin-bottom:10px;}
.table-error td {color: #b94a48;font-weight:700;;font-size:11px;}
.twocols {overflow:visible;margin-right:-40px}
.twocols .form-actions{padding-right:40px}
.twocols .col{width:328px;display:inline-block;*display:inline;*zoom:1:}
label {color: #fff;}
input, textarea, select, .uneditable-input ,.select-group .btn {-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;}
.controls label{color:#fff;}
.col input, .col textarea   {width:275px}
.full input, .full textarea   {width:608px}
.col .select-group a.btn{width:246px;text-align:left;}
.col .select-group a.dropdown-toggle{width:87%;background: none repeat scroll 0 0 white; border-width: 1px 1px 1px medium; border-color: #B7B5B5 #B7B5B5 #B7B5B5 -moz-use-text-color; border-style: solid solid solid none; }
.select-group .btn,
.cust-dropdown .btn {
 	background:none repeat scroll 0 0 #fff;
 }
.btn-group .btn:hover,
.btn-group .btn:focus,
.btn-group .btn:active,
.btn-group .btn.active { z-index:0;}

.select-group .btn,.btn-group.open .dropdown-toggle,.btn-group .btn:active  {box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none; }
.control-group.error .btn-group .btn{ color: #b94a48;  border-color: #b94a48;}
.form-actions {background:none;border-top:none;padding:0;margin: 0;clear:right;}

.select-group  .caret {margin-top:10px;}
.control-group {margin-bottom: 20px;}

#contact-form .dropdown-toggle {float: left; width: 10px;}


/*HOME PAGE VERSION 2*/
.slider2#carousel-home {width: 100%; height: 340px;margin:0;float:none}
.slider2#carousel-home .sliderkit-nav {left: 0;}
.slider2#carousel-home .sliderkit-panel .slider-caption {height: 80px; background: none repeat scroll 0 0 #009dbb; padding-left: 0px;}
.slider2#carousel-home .sliderkit-panel .slider-caption .desc {font-size: 16px; font-weight: normal; line-height: 20px;}

.row {
	margin-bottom: 20px; 
	margin-left: -20px; 
}
.row .box{
	padding: 40px;
}
.row #box-featured {
	width: 416px; 
	margin: 0;
}
.row #box-featured .thumbnails,
.row #box-featured .thumbnail {
	margin: 0;
}
.row #box-featured .thumbnails > li {
	width:416px; 
	margin:0 0 10px 0; 
	padding: 0;
}
.row #box-featured .thumbnails .caption {
	position: relative;
	padding: 0;
	margin: 0;	
	margin-left: 140px;
}
.row #box-featured .thumbnails .cat,
.row #box-featured .thumbnails .price{
	position: relative;
	background: transparent;
}
.row #box-featured .thumbnails .cat{ 
	border-left:none; 
	left: 0;
	margin: 3px 0;
}
.row #box-featured .thumbnails .icon-heart-b{
	background-position: -4px -115px;
	width: 10px;
	height: 15px;
	padding-right: 5px;
}
.row #box-featured .caption .cat span{
	color: #545454;
	font-weight: bold;
	font-size: 10px;
	text-transform: uppercase;
}
.row #box-featured .thumbnails .ttre {
   padding: 0 10px;
}
.row #box-featured .caption p.desc{
	margin-left:0;
	margin-bottom: 5px;
}
.row #box-featured p.price{ 
	color:#00cfd4;
	font-weight: bold;
	text-transform: uppercase;
	width: 100%;
}
.row #box-featured .price del{
	color: #545454;
}
.row #box-featured .thumbnail.alternate {background: #ebebeb;}
.row #box-featured .thumbnail .arrow{top:50%}
.row #box-featured .thumbnail .arrow.right {right:155px;}
.row #box-featured .thumbnail .arrow.left { border-right-color: #fff; left:155px;}
.row #box-featured .thumbnail.alternate .arrow.right { border-left-color:#ebebeb; }
.row #box-featured .thumbnail.alternate .arrow.left { border-right-color: #ebebeb;}

.row #box-search{ 
	width: 384px;  
	margin:0; 
}
.row #box-search .box_title{
	color: #fff;
}
.row.nomargin{
	margin: 0 -40px;
}
.row.negativ{
	background: #000;
	margin-top: -40px;
}
.row #box-news { width: 880px;}
.row #box-news li.span2 {
	width: 47%; 
}

/*ORDER CONTROLS*/
.order-controls{
	padding-top: 5px; 
}
.order-controls label{
	font-size: 11px;
	padding: 4px ;
	float:right;
	font-weight:400;
	margin:0 0 0 10px;
	color: #949494;
	line-height:14px; 
	font-style: italic;
}
.order-controls label:first-child{margin-left:0;}
.order-controls .controls{float:left;position:relative;height:9px;width:13px;}
.order-controls .m-btn{position:absolute;height:10px;left:0;width:16px;background:transparent url(../img/sprite.png) ;display:block;}
.order-controls .inc{top:0; background-position:-112px -22px;}
.order-controls .inc:hover{top:0; background-position:-136px -22px;}
.order-controls .dec{top:12px;background-position:-112px 233px;}
.order-controls .dec:hover{top:12px;background-position:-136px 233px;}
.order-controls .nav-link{padding: 4px 4px 4px 4px ;display:inline-block;overflow:hidden;}
.order-controls .nav-link span{padding:0 4px ;}

.print_btn {float:right;font-family: 'Open Sans'; font-weight: normal; text-shadow: none; font-size: 14px;margin:-5px 0  0 10px; ;}
.print_btn .icon-print {display: none;}

.pagination {
	margin: 0; 
	padding: 0 10px 0 0; 
	height: inherit;
}
.pagination ul{border:none;webkit-box-shadow:none; -moz-box-shadow: none; box-shadow: none;padding:0 ;margin:0;}
.pagination ul li a{
	padding: 0 3px; 
	border: none; 
	line-height: 26px; 
	font-family: 'Open Sans'; 
	font-weight: normal; 
	font-size: 12px;
	color: #949494;
}
.pagination ul li.active a,
.pagination ul li a:hover{ 
	background: none; 
	color: #fff;
}
.pagination ul .prev a,
.pagination ul .next a{
	position: relative; 
	font-family: arial;
	right: -10px;
	color: #ff0000;
	font-weight: bold;
	font-size: 17px;
}
.pagination ul .prev a {
	left: -10px;
}
.listing_controls.bottom {
	padding: 10px 0;
	margin:0px 0 20px 0;
	border-top:1px solid #ccc;
}
.list .listing_controls.bottom{
	 margin-left: -40px;
    margin-right: -340px;
    padding-right: 340px;

 }
.listing_controls.bottom .pagination ul li.active a,
.listing_controls.bottom .pagination ul li a:hover{
	color:#fff;
}
.listing_controls {
	height: 26px;
	position: relative;
	background: #000;
	padding-top: 10px; 
	padding-bottom: 10px; 
	margin-bottom: 40px;
}
.listing_controls .ordering_wrap {
	border: none;
}
.listing_controls .ordering_wrap .btn-group {margin :0  0 0 10px ;  padding :0 10px 0 0  ; float:left;}
.listing_controls .ordering_wrap > div:first-child {border: none; margin-left: 0;}
.listing_controls .ordering_wrap > div:first-child a {padding-left: 0;}
.listing_controls .ordering_wrap > div a {
	color: #949494; 
	font-weight: normal; 
	font-size: 12px; 
	padding-top: 0;
	padding: 0;
	margin: 0;
	line-height: 12px;
}
.single .listing_controls{
	line-height: 40px;
    margin: 0 -10px;
    padding: 0 0 0 50px;
}

/*DETAIL PRODUCT*/
.single .listing_controls{
	height: 45px;
}
.single #contentzone .container,
.single #sidebar-right #box-featured{
	background: #000;
}
.detail_produit {
	padding: 0;
	background: transparent; 
	position: relative;
}
#top_detail {
	margin-top: -40px;
	padding-top: 40px;
	padding-bottom:40px;
	padding-left: 50px;
	background: #125389; 
	height: 60px;
	overflow: hidden;
	padding-right: 340px;
}
.single .highlight{
	min-height:90px;
	position:relative;
	z-index:1;
	background: #00cfd4;
	margin-top: -40px;
	padding-left: 50px;
	padding-top: 30px;
}
.coupon-page .highlight{
	padding-top:10px;
}
.single .highlight h1.page_ttre, 
.single .highlight .sub_ttre {
	color: #fff;
	font-weight: 700; 
	font-size: 20px ; 
	line-height: 20px;
	padding: 0; 
	margin: 0 ;
	text-transform: uppercase;
}
.single .highlight .btn_contact{}

.detail_produit .cat {
	background: none repeat scroll 0 0 #007DA1;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: normal;
    height: 100px;
    margin-bottom: 0;
    padding: 0;
    position: absolute;
    left: 0;
    text-align: center;
    text-transform: uppercase;
    top: -100px;
    width: 120px;
}
.detail_produit .cat span{
	display: block;
}

.price_holder{
	position: absolute;
    left: 0;
    top:0;
    bottom: 0;
    height: 100px;
    width: 120px;
    background: none repeat scroll 0 0 #00CFD4;
    z-index: 20;
}
.price_holder p.price { 
	background: none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 800;
    line-height: 20px;
    padding: 25px 0;
    text-align: center;
    text-transform: uppercase;
}

.price .old{ 
	display: block;
	text-decoration: line-through; 
}

.detail_produit .btn_contact{
	float: right;
}
.detail_produit .highlight h1.page_ttre,
.coupon-page .highlight h1.page_ttre {
	position: absolute;
	left: 120px;
	width: 317px;
	height: 40px;
	background: #009cba;
	display: block;
	padding: 30px 40px;
	top:0;
}
.coupon-page .highlight h1.page_ttre {width: 430px}
.detail_produit .highlight{
	padding-top: 0;
}
.single #sidebar-right .thumbnail .caption {
    background: #1d1d1d;
}
.single #content:after {
	right: -310px;
    top: 220px;
    border-color: #00cfd4 transparent transparent #00cfd4;
}
.coupon-page #content:after {
    top: 200px;
}

.single #content:before {
	left: -10px;
    top: 220px;
}
.coupon-page #content:before {
    top: 200px;
}

.product-page #content:after {
	right: -310px;
    top: 200px;
    border-color: #00cfd4 transparent transparent #00cfd4;
}
.product-page #content:before {
	left: -10px;
    top: 200px;
}

.single #sidebar-right:before{
	background: none repeat scroll 0 0 #009DBB;
    content: "";
    display: block;
    height: 220px;
    margin-left: -40px;
    margin-top: 0;
    position: absolute;
    width: 350px;
    z-index: -5;
}
.coupon-page #sidebar-right:before{
	 height: 200px;
}
.product-page #sidebar-right:before{
	margin-top: 0;
	height: 200px;
	width: 340px;
	margin-left: -30px;
}
/*DETAIL PRODUCT CAROUSEL*/
#carousel-detail{
	margin-bottom: 0; 
	width: 580px; 
	height: 435px; 
	padding: 0 0 0 0;
}
#carousel-detail .sliderkit-panels,
#carousel-detail .sliderkit-panel,
#carousel-detail .sliderkit-panels-wrapper {
	height:460px;
}
#carousel-detail .sliderkit-panel  img{
	display:block;
}
#carousel-detail .sliderkit-nav-clip {
	width: 100%;
	overflow:visible;
}
#carousel-detail .sliderkit-nav {
	position: absolute; 
	text-align: center; 
	vertical-align: middle;
}
#carousel-detail .sliderkit-nav ul {
	width: 100%;
}
#carousel-detail .sliderkit-nav ul li{
	margin: 0; 
	padding: 0; 
	width: 100px; 
	height: 75px; 
	border: solid black 5px;
	position:relative;
	z-index:20;
}
#carousel-detail .sliderkit-nav{
	position:absolute; 
	bottom: 0; 
	left: 0; 
	text-align:center; 
	background: #ff0000; 
	width: 120px; 
	height: 60px;
}
#carousel-detail .sliderkit-nav ul li a,
#carousel-detail .sliderkit-go-btn a {
	width:13px;
	height:13px;
	line-height:13px;
	display:block;
	font-weight:800;
}
#carousel-detail .sliderkit-nav ul li a {
	font-size: 18px;
}
#carousel-detail .sliderkit-nav ul li.sliderkit-selected a {
	color:#fff;
}
#carousel-detail .sliderkit-nav-clip,
#carousel-detail .sliderkit-go-btn {
	float:left;
	padding: 0; 
	margin: 0; 
	width: 50%;
}
#carousel-detail .sliderkit-nav-clip a {
	color: #5eb0d1; 
	font-size: 18px; 
	padding-top: 2px;
}
#carousel-detail .sliderkit-go-btn {}
#carousel-detail .sliderkit-go-btn a{
	display: block; 
	width: 60px; 
	height: 60px; 
	float: left; 
	font-size: 30px; 
	line-height: 56px; 
	color: #fff; 
	text-indent: -2000em; 
	background: url("../img/sprite.png") no-repeat transparent;
}
#carousel-detail .sliderkit-go-prev a { 
	background-position: -58px -72px;
}
#carousel-detail .sliderkit-go-next a { 
	background-position: -119px -72px;
}
#carousel-detail .sliderkit-go-btn.sliderkit-btn-disable{
	opacity:0;
	filter: alpha(opacity=0);
	cursor:default;
}

/*IMAGES VIDEO*/
.images-video {
	padding: 0; 
	margin: 0;
	border-bottom: 1px solid #1e1e1e;
}
.images-video li {
	display: block; 
	float: left;
}
.images-video li .arrow{ 
	display:none;
}
.images-video li a{
	background: transparent;
	color: #949494;
	font-weight: 600;
	font-size: 11px;
	font-style: italic;
	line-height: 40px;
	border-right: 1px solid #1e1e1e;
	padding-right: 20px;
	padding-left: 20px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.images-video li a.active {
	background: transparent;
	color: #ff0000;
	position:relative;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.images-video li a.active .arrow{
	display:none;
}

/*TAB CONTENT*/
#productTabWrap{
	width: 428px;
	float:left;
	padding-right:30px;
	min-height: 300px;
}
#productTab{
	border-bottom: 1px solid #1d1d1d;
}
#productTab.nav-tabs > li {

	position:relative;
}
#productTab.nav-tabs > li a {
	border: 0;
	display:block;
	margin:0px;
	padding:0px;
	line-height: 16px; 
	font-size:14px;
	font-weight:normal;
}
#productTab.nav-tabs > li a {
	display: block; 
	color:#949494;
	font-weight: 500;
	font-size: 13px; 
	font-style: italic;
	padding: 15px 0;
	margin-right: 40px;
	border-radius:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	background-color: transparent;
}
#productTab.nav-tabs > li.active a,
#productTab.nav-tabs > li.active a:hover { 
	color: white; 
	background: transparent;
	border: 0;
	border-bottom: 4px solid #fff;
}
#productTab.nav-tabs > li a:hover {
	color: #fff;
	text-decoration:none;
	border: 0;
}
#productTab.nav-tabs > li .arrow {
	display:none;
}
#productTab.nav-tabs > li.active .arrow {
	position:absolute;
	bottom:-5px;
	left:45%;
	top:auto;
	display:block;
}
.tab-content {border: none;}
.tab-pane h3 { color: #009cbb; font-size: 13px; font-weight: 800; line-height: 20px; text-transform: uppercase;}
.tab-pane p.desc { font-size: 13px; line-height: 18px; color: #fff; display: block; padding-top: 10px; margin-bottom: 1.5em;}
.modal-body #box_desc {margin: 0px 0 20px 0; }
#box_desc {
	margin: 20px 0 40px 0;
}
#box_desc .btn_contact,.dl_box{float: right; width:122px;} 
#readmore-box .detail_desc{margin-top:50px;}
.dl_box{margin-top:20px;}
.dl_box p {font-family: 'Open Sans';font-size:13px;}
.dl_box p.file_ttre{color:#fff;font-weight:600; font-style: italic; font-size: 11px;}
.dl_box p.file_info{color:#949494;}
.file_link a{;background:transparent url(../img/ico-pdf.png) 0% 0% no-repeat;width:56px;height:65px;display:block;}

/*DETAIL ABOUT*/
.detail_about #box_desc .detail_desc,
.detail_about #box_desc .detail_desc p,
.single #box_desc .detail_desc p{
	font-size:13px;
	color: #fff;
}
.detail_about #box_desc .detail_desc h2,
.single #box_desc .detail_desc h2,
.detail_about #box_desc .detail_desc h3,
.single #box_desc .detail_desc h3{
	font-size:13px;
	line-height:125%;
	font-weight: 700;
	margin-bottom:15px;
	color: #009cbb;
	text-transform: uppercase;
}
#detail_about {
	padding:15px 0;
	width:280px;
}
#detail_about ul{padding: 0;margin:0;}
#detail_about li{list-style: none;display:block;padding:0;margin:5px 0 5px 0;font-weight:600;font-weight:normal; }
#detail_about .feature-label{color:#fff;display:block;font-size:11px;}
#detail_about .value{color:#959595;display:block;font-size:12px}

/*DETAIL COUPON*/
.coupon-img{margin-bottom:20px;}
.coupon{background:transparent url(../img/bg_coupon_altern.png) 0 100% no-repeat;padding-bottom:23px;margin: -23px -40px 20px 0;position:absolute;left:0;top:0;width:100%;}
.detail_coupon {}
.detail_coupon .highlight{

}
.detail_coupon .detail_desc h2.ttre{;font-size:16px;}

/*News LIST*/
.list .thumbnail .arrow.left{
	left:155px;
}
.list .thumbnail p.price, 
.list .thumbnail .cat {
	line-height:45px;
	height:45px;
}
.list .thumbnail p.desc{
	padding-top: 5px;
	padding-bottom: 5px;
}
.list #content:before{
	top: 182px;
}
.list #content:after{
	right: -10px;
    top: 0;
}
/*Negativ margin for featured top elements*/
.list .page_ttre,
.list .listing_controls,
p.pdt_count,
#top_detail,
.single .highlight{
	margin-left: -50px;
	margin-right: -350px;
	padding-right: 340px;
	z-index: 3;
}
#top_detail{
	padding-right: 380px;
}
.list .page_ttre{
	background: #009dbb;
	margin-top: -40px;
	padding:40px 20px 0 41px; 
	margin-left: -50px;
	margin-right: -350px;
	font-weight: 700;
	color: #125389;
	font-style: italic;
	font-size: 16px;
}
.list-news .page_ttre{
	padding: 20px 20px 20px 41px;
	font-style: normal;
	color: #fff;
}
.list-news #content:before{
	top: 101px;
}
.list-news #content:after{
	right: -310px;
    top: 101px;
}
.list_header h1.page_ttre{
	color: #FFF;
	font-style:normal;
	font-size: 22px;
	line-height:24px;
}
.list .listing_controls{
	margin-top: 0;
	padding-left: 41px;
}
.list #sidebar-right{

	right: 40px;
	z-index: 10;
}
/*Liste actus*/
.liste_actus .thumbnails {
	margin-left: 0;
}
.liste_actus .thumbnail {
	background: #1e1e1e;
}
.liste_actus .thumbnail .caption {
	padding-top: 5px;
}
.liste_actus .thumbnails > li {
	margin-left: 0; 
	margin-bottom: 20px;
	float:none;
}
.list-news .liste_actus .cat,
.list-news .liste_actus .date_from {
	height:auto;
	line-height:1.25em;
	font-weight:normal;
}
.liste_actus .cat{
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	color: #00cfd4;
}
.liste_actus .thumbnail .date {
	text-transform:uppercase;
	font-size: 10px;
	font-weight: bold;
}
.liste_actus .thumbnail .date_from {
	font-size: 10px;
}
.liste_actus .thumbnail .desc {
	color: #fff;
}
/*PRODUCT LIST*/
.liste_products .thumbnails > li  { width:auto;float:none; }
.list-products  .thumbnail .arrow.left  { top:24px; }

.list-products  #content:after,
.search #content:after{
	right: -310px;
	top: 238px;
}
.list-products  #content:before,
.search #content:before{
	top: 238px;
}

/*SEARCH RESULT*/
p.pdt_count {
	padding-top: 40px;
	padding-bottom: 40px;
	margin-bottom: 0;
	background: #009dbb;
	font-size: 18px; 
	color: #61b5d7;
	text-align: right;
}
.list_header{min-height:48px;margin-top:10px;}

.search_results .thumbnails > li { width:auto;float:none; }
.search .listing_controls, .list-products  .listing_controls {margin-top:15px;margin-top: 0; }
.search .thumbnails .ttre, .list-products  .thumbnails .ttre {line-height:18px}

/*BOX NEWSLETTER*/
#box_newsletter{
	display: block;
	margin:20px 0 10px 0;
	width:100%;
}
#box_newsletter h3,
#box_newsletter input {font-weight: normal; font-size: 10px;}
#box_newsletter h3 {color: white; line-height: 12px; margin-bottom: 10px;font-style: italic; font-weight: 600; font-size: 11px; }
#box_newsletter input {color: #939393; padding: 7px 10px; width: 117px; margin: 0; margin-right: 8px}
#box_newsletter button[name="newsletter_submit"] {border: none; color: white; font-family: 'Open Sans'; font-size: 14px; font-weight: normal; line-height: 30px; padding: 0 10px;}
#box_newsletter button:hover {background: #6AC6EB;}

/*MODAL CONTACT FORM*/
#contact-publisher p , #form-contact-publisher label{font-size:14px;}
#contact-publisher{padding:0 15px;}
#contact-publisher input.span2,#contact-publisher textarea.span2,#contact-publisher .uneditable-input.span2 { width: 210px; }
#contact-publisher  p.action-telephone {     font-size: 20px; }
p.action-message {     margin: 18px 0 8px; }
#contact-publisher   .control-group {     margin: 0 0 8px; }
/*FOOTER*/
#footer {background: none repeat scroll 0 0 #000; padding: 0; }
#footer .container {border-left: 1px solid #4d4c54border-left: 1px solid rgb(77, 76, 84); }
#footer .col {padding: 20px 0px 0; min-height: 140px; *zoom:1; position: relative;}
#footer .col.col1 {width: 500px; border-right: 1px solid #1e1e1e; }
#footer .col.col2 {width: 459px;}
#footer .col.col3 {width: 259px;}
#footer .col.col3 ul {position: absolute; bottom: 0;}
#footer .col .ttre{color:#fff; margin-bottom:10px; font-weight: normal; font-size: 10px; margin-bottom: 3px;}
.col ul{margin-left: 0; list-style: none; display: block; margin-bottom: 10px;}
#footer .col ul, #footer .col {font-size: 10px;}
#footer .copyright { color:#fff; padding-left: 10px; font-size: 10px; display:inline-block; *display:inline; *zoom:1;}
#footer .gmap,#footer .gmap_address {float: left;}
#footer .gmap_address {margin-left:20px;}
#footer .gmap_address {float: left; }
#footer a {color: #949494;}
#footer .inline-list li{
	padding: 0 10px 0 0;
}
