html, address,
blockquote,
body, dd, div,
dl, dt, fieldset, form,
frame, frameset,
h1, h2, h3, h4,
h5, h6, noframes,
ol, p, ul, center,
dir, hr, menu, pre   { display: block; unicode-bidi: embed }
li              { display: list-item }
head            { display: none }
table           { display: table }
tr              { display: table-row }
thead           { display: table-header-group }
tbody           { display: table-row-group }
tfoot           { display: table-footer-group }
col             { display: table-column }
colgroup        { display: table-column-group }
td, th          { display: table-cell }
caption         { display: table-caption }
th              { font-weight: bolder; text-align: center }
caption         { text-align: center }
body            { margin: 8px }
h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .75em 0 }
h3              { font-size: 1.17em; margin: .83em 0 }
h4, p,
blockquote, ul,
fieldset, form,
ol, dl, dir,
menu            { margin: 1.12em 0 }
h5              { font-size: .83em; margin: 1.5em 0 }
h6              { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6, b,
strong          { font-weight: bolder }
blockquote      { margin-left: 40px; margin-right: 40px }
i, cite, em,
var, address    { font-style: italic }
pre, tt, code,
kbd, samp       { font-family: monospace }
pre             { white-space: pre }
button, textarea,
input, select   { display: inline-block }
big             { font-size: 1.17em }
small, sub, sup { font-size: .83em }
sub             { vertical-align: sub }
sup             { vertical-align: super }
table           { border-spacing: 2px; }
thead, tbody,
tfoot           { vertical-align: middle }
td, th, tr      { vertical-align: inherit }
s, strike, del  { text-decoration: line-through }
hr              { border: 1px inset }
ol, ul, dir,
menu, dd        { margin-left: 40px }
ol              { list-style-type: decimal }
ol ul, ul ol,
ul ul, ol ol    { margin-top: 0; margin-bottom: 0 }
u, ins          { text-decoration: underline }
br:before       { content: "\A"; white-space: pre-line }
center          { text-align: center }
:link, :visited { text-decoration: underline }
:focus          { outline: thin dotted invert }



h1, h2, h3,
h4, h5, h6    	{ page-break-after: avoid }
ul, ol, dl    	{ page-break-before: avoid }
#detail_gmap    { page-break-after : always; }
  
#detail_about    { page-break-inside: avoid;}

body { background-color :#fff; font-size :12pt;}
body #detail_about,#header,.listing,.detail{ background-color :#fff!important;color:#333!important;}
body p{ background-color :#fff;color:#333;}
body .btn{background :#fff!important;}
body a, body a {color :#1B6596!important;}

body #content,body  .container {width:100%;;margin:0 auto;border :none;width:640px;overflow:hidden;}

#search-form-horizontal, #main-nav, #breadcrumb, #sidebar-right,#footer,.listing_controls,#top_detail,#welcome-box,#contact-box,.coupon,.sliderkit-panel,.images-video,#productTabWrap .nav,.sliderkit-nav-clip{ display :none;}
body .detail{padding-top:0;}
#teaser_zone,#contentzone{background:#fff!important;position:static;}
.sliderkit-panel:first-child{ display block;}
.tab-content > .tab-pane, .pill-content > .pill-pane {display:block!important;}
.single .highlight{padding-left:0;width:620px!important;}
#carousel-detail{height:auto;}
#header{border:none;}
#header .container{min-height:120px;}
h1.page_ttre{color:#000;font-size:26px;line-height:125%;padding:10px 0;display:block;margin:0!important;}

.coupon-img{margin:0;}