a,.order-controls label,
.listing_controls .ordering_wrap > div a,
a:hover {
	color: #6d96cc;
}
.dropdown-menu li > a:hover, 
.dropdown-menu .active > a, 
.dropdown-menu .active > a:hover{
	background-color: #6d96cc;
}

/* Boutons */
.btn-primary,
#carousel-home .sliderkit-nav,
#carousel-detail .sliderkit-nav {
  background-color: #00b4db;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled],
.btn-primary:active,
.btn-primary.active { 
	background-color: #1a215e;
}


/* Nav bar */ 
.navbar .nav > li > a:hover,
.navbar .nav .active > a, 
.navbar .nav .active > a:hover, 
.navbar .nav .active > .dropdown-toggle:hover, 
.navbar .nav .active > .dropdown-toggle ,
.navbar .dropdown-menu,
.navbar .nav .open > .dropdown-toggle, 
.navbar .nav .active > .dropdown-toggle, 
.navbar .nav .open.active > .dropdown-toggle {
	background-color: #6d96cc;
}

/* Book box */
#box-book{ background-color: #5d759b;}
#box-book .btn-success{ background-color: #004370;}
#box-book .btn-primary{ background-color: #6d96cc;}
#box-book .btn-success:hover{ background-color: #003152;}
#box-book .btn-primary:hover,
#box_newsletter button:hover{ 
	background-color: #506ea1;
}

#carousel-home .sliderkit-nav-clip a,
.thumbnail .cat,
.row .thumbnail p.price,
.row #box-featured p.price,
.slider-caption .cat span,
#contentzone p.pdt_count {
	color: #6d96cc;
}


#carousel-home{
	background: transparent;
}

/* Image */
.slider-caption p.price,
.price_holder .price,
[class^="icon-"],
[class*=" icon-"],
.order-controls .m-btn,
#search-form .select-group .caret {
	background-image:  url(../../img/sprite_bleufonce.png) ;
}

#footer h3,
#footer .col .ttre {
	color: #959595; 
	text-shadow: none;
}


/* light color */ 
#detail_feature ul,#footer, .navbar-inner,
.navbar .dropdown-menu a:hover {
	background:#1a215e;
}
.slider-caption,
.list .page_ttre,
p.pdt_count,
.single #sidebar-right:before,
.coupon-page .highlight h1.page_ttre {
	background: #39658a;
}

/* Dark color */
.select-group .btn.dropdown-toggle,
.sliderkit-panel, 
.thumbnail p.price, 
.thumbnail p.cat,
.jq-slider .inner.default,
.navbar .container {}
.select-group .btn.dropdown-toggle {}

#box-featured .thumbnail p.price,
.liste_produits .thumbnail p.price,
.search_results .thumbnail p.price,
.single .highlight,
.detail_produit .highlight h1.page_ttre {
	background: #3989a0;
}

#contentzone h2.ttre,
.box_title,
.thumbnail .ttre a,
h1,h2,h3,h4,h5,
.breadcrumb li,
#header a,
.tab-pane h3,
.detail_about #box_desc .detail_desc h2{
	color:#00b4db;
}

/* Darkness color */
label.radio{
	color: #202020;
}

/* Altern */
#footer .col,#footer .container{
	border-color:#c7e4ff;
}
/* White */
#search-form .readmore a, 
#search-form .readmore a:hover,
#header h1.ttre,
#header h2.ttre,
#footer .copyright,
#contact-box .ttre,
.sliderkit-btn a,
#footer a,
#footer,
#footer .copyright,
.navbar .nav > li > a:hover, 
.navbar .nav .active > a, 
.navbar .nav .active > a:hover, 
.navbar .nav .active > .dropdown-toggle:hover, 
.navbar .nav .active > .dropdown-toggle,
#contact-box .ttre,
#header h1.ttre,
#header h2.ttre,
ul.breadcrumb a,
.breadcrumb .divider { 
	color: #fff;
}

.breadcrumb li,
ul.breadcrumb .active,{
	color: #3a8aa1;
}

.navbar .nav > li > a:hover, 
.navbar .nav .active > a, 
.navbar .nav .active > a:hover, 
.navbar .nav .active > .dropdown-toggle:hover, 
.navbar .nav .active > .dropdown-toggle ,
#search-form,
#teaser_zone .welcome-box,
#breadcrumb .container,
#top_detail { 
	background-color: #0f1b5f;
}
.sliderkit-panel .cat,
#box-featured .thumbnail .cat,
.liste_produits .thumbnail .cat, 
.search_results .thumbnail .cat,
.detail_produit .cat {
	background-color: #00436d;
}
.sliderkit-panel p.price,
.price_holder {
	background-color: #3a8aa1;
}
.box_title,
.list .page_ttre{
	color: #0f1b5f;
}
#footer{
	background:#000;
}
.navbar-inner:after {
    border-color: transparent transparent #3a8aa1 #3a8aa1;
}
.navbar-inner:before {
    border-color: transparent #3a8aa1 #3a8aa1 transparent;
}
#content:after {
    border-color: #3a8aa1 transparent transparent #3a8aa1;
}
#content:before {
    border-color: #3a8aa1 #3a8aa1 transparent transparent;
}
.single #content:after{
	border-color: #3a8aa1 transparent transparent #3a8aa1
}
.pagination ul .prev a, 
.pagination ul .next a{
	color: #51d3ea;
}