a,.order-controls label
{color: #8ab706;}
.navbar .nav .open > .dropdown-toggle, .navbar .nav .active > .dropdown-toggle, .navbar .nav .open.active > .dropdown-toggle,.navbar .dropdown-menu 
{background-color: #8ab706;}
a:hover
{color: #6b8d07;}
.draghandle.default
{border-color: #8ab706;}
.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover,.navbar .dropdown-menu a:hover 
{background-color: #6b8d07;}
/* Boutons */
.btn-primary,
.btn-primary:hover{ text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #fff; }

.btn-primary.active{   color: rgba(255, 255, 255, 0.75); }
.btn-primary {
  background-color: #a9c622;
  background-image: -moz-linear-gradient(top, #a9c622, #85b402);
  background-image: -ms-linear-gradient(top, #a9c622, #85b402);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a9c622), to(#85b402));
  background-image: -webkit-linear-gradient(top, #a9c622, #85b402);
  background-image: -o-linear-gradient(top, #a9c622, #85b402);
  background-image: linear-gradient(top, #a9c622, #85b402);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a9c622', endColorstr='#85b402', GradientType=0,enabled=true);
  border-color: #a9c622 #a9c622 #85b402;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] { background-color: #85b402; }

.btn-primary:active,
.btn-primary.active { background-color: #85b402 \9; }


/* light color */ 
.detail .highlight,#detail_feature ul,#detail_about,#footer,#header,.slider-caption, .navbar-inner
{background:#203a68;}
.navbar .nav > li { border-color:#203a68;}

/* Dark color */
.select-group .btn.dropdown-toggle,.sliderkit-panel .slider-caption p.price, .thumbnail p.price, .thumbnail p.cat ,.jq-slider .inner.default ,.navbar .container
{background:#6f96cf;}
.select-group .btn.dropdown-toggle
{border-color:#6f96cf}
.navbar .nav li > a:hover .caret
{border-top-color:#6f96cf}
#contentzone p.pdt_count,#contentzone h2.ttre,h1,h2,h3,h4,h5,#footer .col .ttre,#footer .copyright,#contact-box .ttre,.slider-caption p.desc
{color:#6f96cf}

/* Image */
[class^="icon-"],
[class*=" icon-"],
.order-controls .m-btn
{background-image:url(../img/sprite6.png);}
/* Altern */
#contact-box, #welcome-box,#footer .col,#footer .col:first-child
{border-color:#6f96cf}
/* White */
#footer a ,#footer,#welcome-box p { color: #fff; }