a,.order-controls label
{color: #a8770f;}
.navbar .nav .open > .dropdown-toggle, .navbar .nav .active > .dropdown-toggle, .navbar .nav .open.active > .dropdown-toggle,.navbar .dropdown-menu 
{background-color: #a8770f;}
a:hover
{color: #781011;}
.draghandle.default
{border-color: #a8770f;}
.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover,.navbar .dropdown-menu a:hover 
{background-color: #781011;}
/* Boutons */
.btn-primary,
.btn-primary:hover{ text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #fff; }

.btn-primary.active{   color: rgba(255, 255, 255, 0.75); }
.btn-primary {
  background-color: #e1b211;
  background-image: -moz-linear-gradient(top, #e1b211, #d59717);
  background-image: -ms-linear-gradient(top, #e1b211, #d59717);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e1b211), to(#d59717));
  background-image: -webkit-linear-gradient(top, #e1b211, #d59717);
  background-image: -o-linear-gradient(top, #e1b211, #d59717);
  background-image: linear-gradient(top, #e1b211, #d59717);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1b211', endColorstr='#d59717', GradientType=0,enabled=true);
  border-color: #e1b211 #e1b211 #d59717;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] { background-color: #d59717; }

.btn-primary:active,
.btn-primary.active { background-color: #d59717 \9; }


/* light color */ 
.detail .highlight,#detail_feature ul,#detail_about,#footer,#header,.slider-caption, .navbar-inner
{background:#174865;}
.navbar .nav > li { border-color:#174865;}

/* Dark color */
.select-group .btn.dropdown-toggle,.sliderkit-panel .slider-caption p.price, .thumbnail p.price, .thumbnail p.cat ,.jq-slider .inner.default ,.navbar .container
{background:#6697ad;}
.select-group .btn.dropdown-toggle
{border-color:#6697ad}
.navbar .nav li > a:hover .caret
{border-top-color:#6697ad}
#contentzone p.pdt_count,#contentzone h2.ttre,h1,h2,h3,h4,h5,#footer .col .ttre,#footer .copyright,#contact-box .ttre,.slider-caption p.desc
{color:#6697ad}

/* Image */
[class^="icon-"],
[class*=" icon-"],
.order-controls .m-btn
{background-image:url(../img/sprite8.png);}
/* Altern */
#contact-box, #welcome-box,#footer .col,#footer .col:first-child
{border-color:#6697ad}
/* White */
#footer a ,#footer,#welcome-box p { color: #fff; }