a,.order-controls label
{color: #ef8412;}
.navbar .nav .open > .dropdown-toggle, .navbar .nav .active > .dropdown-toggle, .navbar .nav .open.active > .dropdown-toggle,.navbar .dropdown-menu 
{background-color: #ef8412;}
a:hover
{color: #b9670f;}
.draghandle.default
{border-color: #ef8412;}
.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover,.navbar .dropdown-menu a:hover 
{background-color: #b9670f;}
/* Boutons */
.btn-primary,
.btn-primary:hover{ text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #fff; }

.btn-primary.active{   color: rgba(255, 255, 255, 0.75); }
.btn-primary {
  background-color: #e9ab00;
  background-image: -moz-linear-gradient(top, #e9ab00, #f08014);
  background-image: -ms-linear-gradient(top, #e9ab00, #f08014);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e9ab00), to(#f08014));
  background-image: -webkit-linear-gradient(top, #e9ab00, #f08014);
  background-image: -o-linear-gradient(top, #e9ab00, #f08014);
  background-image: linear-gradient(top, #e9ab00, #f08014);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9ab00', endColorstr='#f08014', GradientType=0,enabled=true);
  border-color: #e9ab00 #e9ab00 #f08014;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] { background-color: #f08014; }

.btn-primary:active,
.btn-primary.active { background-color: #f08014 \9; }


/* light color */ 
.detail .highlight,#detail_feature ul,#detail_about,#footer,#header,.slider-caption, .navbar-inner
{background:#51375f;}
.navbar .nav > li { border-color:#51375f;}

/* Dark color */
.select-group .btn.dropdown-toggle,.sliderkit-panel .slider-caption p.price, .thumbnail p.price, .thumbnail p.cat ,.jq-slider .inner.default ,.navbar .container
{background:#ab90c6;}
.select-group .btn.dropdown-toggle
{border-color:#ab90c6}
.navbar .nav li > a:hover .caret
{border-top-color:#ab90c6}
#contentzone p.pdt_count,#contentzone h2.ttre,h1,h2,h3,h4,h5,#footer .col .ttre,#footer .copyright,#contact-box .ttre,.slider-caption p.desc
{color:#ab90c6}

/* Image */
[class^="icon-"],
[class*=" icon-"],
.order-controls .m-btn
{background-image:url(../img/sprite9.png);}
/* Altern */
#contact-box, #welcome-box,#footer .col,#footer .col:first-child
{border-color:#ab90c6}
/* White */
#footer a ,#footer,#welcome-box p { color: #fff; }