a,.order-controls label,
.listing_controls .ordering_wrap > div a {color: #8cba26;}
a:hover
{color: #8cba26;}
.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover
{background-color: #8cba26;}
/* Boutons */
.btn-primary,
.btn-primary:hover{}

.btn-primary.active{color: rgba(255, 255, 255, 0.75); }
.btn-primary {
  text-shadow: none;
  background-color: #8cba26;
  background-image: none;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] { background-color: #464646; }
.btn-primary:active,
.btn-primary.active,
#box_newsletter button[name="newsletter_submit"] { background-color: #8cba26;}

#header {border-color: #464646}

#search-form .readmore a, 
#search-form .readmore a:hover,
#carousel-home .sliderkit-nav-clip a,
.thumbnail .cat,
.thumbnail p.date_from,
.row .thumbnail p.price,
.row #box-featured p.price,
.slider-caption .cat span,
.breadcrumb .divider,
ul.breadcrumb a,
ul.breadcrumb .active,
p.pdt_count,
.detail_produit .cat span {color: #8cba26;}
#teaser_zone .cat span,
#contentzone .cat span ,
.thumbnail p.date_from { border-color: #8cba26;}

/* Image */
[class^="icon-"],
[class*=" icon-"],
.order-controls .m-btn ,
.slider-caption p.price,
.price_holder .price {
	background-image: url(../../img/sprite_gris.png) ;
}

/* Nav bar */ 
.navbar .nav .open > .dropdown-toggle, .navbar .nav .active > .dropdown-toggle, .navbar .nav .open.active > .dropdown-toggle,.navbar .dropdown-menu,
#productTab.nav-tabs > li a
{background-color: #8cba26;}
.navbar .dropdown-menu a:hover {background:#464646;}
.navbar .nav > li > a,
#footer h3,
#footer .col .ttre {color: #8cba26; text-shadow: none;}


/* light color */ 
#detail_feature ul,#footer, .navbar-inner{background:#464646;}
.navbar .nav > li { border-color:#b7d3ee;}
.slider-caption {background: black;}

/* Dark color */
.select-group .btn.dropdown-toggle,
.sliderkit-panel, 
.thumbnail p.price, 
.thumbnail p.cat,
.jq-slider .inner.default,
.navbar .container {}
.select-group .btn.dropdown-toggle {}

#box-featured .thumbnail p.price,
.liste_produits .thumbnail p.price,
.search_results .thumbnail p.price {
	background: #464646;
}

#header h1.ttre,
#header h2.ttre,
#contentzone h2.ttre,
.box_title,
.thumbnail .ttre a,
h1,h2,h3,h4,h5,
#footer .copyright,
#contact-box .ttre
{color:#464646}

/* Darkness color */
label.radio
{color: #202020;}


/* Altern */
#footer .col,#footer .container
{border-color:#6b6b6b}
/* White */
.sliderkit-btn a,
#footer a,
#footer,
#footer .copyright { color: white; }