a,.order-controls label,
.listing_controls .ordering_wrap > div a {color: #9f6503;}
a:hover
{color: #9f6503;}
.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover
{background-color: #d3a53b;}
/* Boutons */
.btn-primary,
.btn-primary:hover{}

.btn-primary.active{color: rgba(255, 255, 255, 0.75); }
.btn-primary {
  text-shadow: none;
  background-color: #9f6503;
  background-image: none;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled]
{ background-color: #d3a53b; }

.btn-primary:active,
.btn-primary.active
{ background-color: #9f6503;}

/* Book box */
#teaser_zone #sub_teaser,#box-book{ background-color: #bd9c01;}
#box-book .btn-success{ background-color: #766201;}
#box-book .btn-primary{ background-color: #9f6502;}
#box-book .btn-success:hover{ background-color: #564801;;}
#box-book .btn-primary:hover{ background-color: #764a01;}

#box_newsletter button:hover{ background-color: #764a01;}



#search-form .readmore a, 
#search-form .readmore a:hover,
#carousel-home .sliderkit-nav-clip a,
.thumbnail .cat,
.thumbnail p.date_from,
.row .thumbnail p.price,
.row #box-featured p.price,
.slider-caption .cat span,
.breadcrumb .divider,
ul.breadcrumb a,
ul.breadcrumb .active,
p.pdt_count,
.detail_produit .cat span {color: #9f6503;}
#header,
#teaser_zone .cat span,
#contentzone .cat span,
.thumbnail p.date_from{border-color: #9f6503;}

/* Image */
[class^="icon-"],
[class*=" icon-"],
.order-controls .m-btn,
.slider-caption p.price,
.price_holder {
	background-image: url(../../img/sprite_jaune.png);
}

/* Nav bar */ 
.navbar .nav .open > .dropdown-toggle, .navbar .nav .open.active > .dropdown-toggle,.navbar .dropdown-menu,
#productTab.nav-tabs > li a
{background-color: #9f6503;}
.navbar .dropdown-menu a:hover {background:#d3a53b;}
#footer h3,
#footer .col .ttre {color: #9f6503; text-shadow: none;}

/* light color */ 
#detail_feature ul,#footer, .navbar-inner{background:#d3a53b;}
.navbar .nav > li { border-color:#b7d3ee;}
.slider-caption {background: black;}

/* Dark color */
.select-group .btn.dropdown-toggle,
.sliderkit-panel, 
.thumbnail p.price, 
.thumbnail p.cat,
.jq-slider .inner.default,
.navbar .container {}
.select-group .btn.dropdown-toggle {}

#box-featured .thumbnail p.price,
.liste_produits .thumbnail p.price,
.search_results .thumbnail p.price {
	background: #d3a53b;
}

#header h1.ttre,
#header h2.ttre,
#contentzone h2.ttre,
.box_title,
.thumbnail .ttre a,
h1,h2,h3,h4,h5,
#footer .copyright,
#contact-box .ttre
{color:#d3a53b}

/* Darkness color */
label.radio
{color: #202020;}

/* Altern */
#footer .col,#footer .container
{border-color:#b38e39}
/* White */
.sliderkit-btn a,
#footer a,
#footer,
#footer .copyright { color: white; }