// extra marron 56211b
// marron 8e5200
// extra  light marron 9c8075


a,.order-controls label,
.listing_controls .ordering_wrap > div a {color: #5e3d1e;}
a:hover
{color: #5e3d1e;}
.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover
{background-color: #5e3d1e;}
/* Boutons */

.btn-primary {
  background-color: #a38457;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled],
.btn-primary:active,
.btn-primary.active{ background-color: #a38457;}




/* Nav bar */ 
.navbar .nav > li > a:hover, .navbar .nav .active > a, .navbar .nav .active > a:hover, .navbar .nav .active > .dropdown-toggle:hover, .navbar .nav .active > .dropdown-toggle ,.navbar .dropdown-menu ,
#productTab.nav-tabs > li a
{background-color: #56211b;}

.navbar .nav .open > .dropdown-toggle, .navbar .nav .active > .dropdown-toggle, .navbar .nav .open.active > .dropdown-toggle{background-color: #56211b;}

.navbar .dropdown-menu a:hover {background:#5e3d1e;}





/* Book box */
#box-book{ background-color: #3d2109;}
#box-book .btn-success{ background-color: #a66500;}
#box-book .btn-primary{ background-color: #a38458;}
#box-book .btn-success:hover{ background-color: #7c4a00;;}
#box-book .btn-primary:hover{ background-color: #79603f;}

#box_newsletter button:hover{ background-color: #79603f;}



#carousel-home .sliderkit-nav-clip a,
.thumbnail .cat,
.thumbnail p.date_from,
.row .thumbnail p.price,
.row #box-featured p.price,
.slider-caption .cat span,
.breadcrumb .divider,
ul.breadcrumb a,
ul.breadcrumb .active,
#contentzone p.pdt_count,
.detail_produit .cat span {color: #a38457;}


#teaser_zone .cat span,
#contentzone .cat span,
.thumbnail p.date_from
{border-color: #a38457;}

/* Image */
.slider-caption p.price,
.price_holder .price,
[class^="icon-"],
[class*=" icon-"],
.order-controls .m-btn {background-image:  url(../../img/sprite_marron.png) ;}

#footer h3,
#footer .col .ttre {color: #a38457; text-shadow: none;}


/* light color */ 
#detail_feature ul,#footer, .navbar-inner{background:#5e3d1e;}
.navbar .nav > li { border-color:#b7d3ee;}
.slider-caption {background: black;}

/* Dark color */
.select-group .btn.dropdown-toggle,
.sliderkit-panel, 
.thumbnail p.price, 
.thumbnail p.cat,
.jq-slider .inner.default,
.navbar .container {}
.select-group .btn.dropdown-toggle {}

#box-featured .thumbnail p.price,
.liste_produits .thumbnail p.price,
.search_results .thumbnail p.price {
	background: #5e3d1e;
}

#contentzone h2.ttre,
.box_title,
.thumbnail .ttre a,
h1,h2,h3,h4,h5
{color:#56211b}

#search-form .readmore a, 
#search-form .readmore a:hover,
#header h1.ttre,
#header h2.ttre,
#header a,
#footer .copyright,
#contact-box .ttre
{color:#fff}

/* Darkness color */
label.radio
{color: #202020;}


/* Altern */
#footer .col,#footer .container
{border-color:#7e644b}
/* White */
.sliderkit-btn a,
#footer a,
#footer,
#footer .copyright { color: white; }